
@{
    ViewData["Title"] = "Import";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Import From Google Books API</h1>
<div>
    <form asp-action="ImportFromGoogle" method="post" class="p-4 border rounded bg-light shadow-sm mb-4" style="max-width: 500px; margin:auto;">
        <div class="mb-3">
            <label for="query" class="form-label">Search Query or ISBN</label>
            <input type="text" id="query" name="query" class="form-control" placeholder="Enter search query or ISBN" required />
        </div>

        <div class="mb-3">
            <label for="count" class="form-label">Number of Results</label>
            <input type="number" id="count" name="count" class="form-control" min="1" max="40" value="10" />
        </div>

        <button type="submit" class="btn btn-dark w-100">Import</button>
    </form>
</div>
